In [1]:
import os
import pandas as pd
import seaborn as sns
sns.set()
import numpy as np
import matplotlib.pyplot as plt

## 1. Examine the dataset. Are there any missing observations or columns where the data do not seem valid?

In [2]:
cash_outlet = pd.read_csv('training.csv')

In [3]:
cash_outlet.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
0,5086,98,2,3,1,1,2,2,0,0,...,-1,4,4,-4.460442,29.811396,0,0,0,0,0
1,1258,40,1,1,3,5,1,1,1,0,...,4,1,4,-6.176438,39.244871,1,1,1,0,3
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,1,-6.825702,37.652798,1,0,0,0,2
3,6729,50,1,1,3,1,1,1,0,0,...,-1,1,4,-3.372049,35.808307,1,0,1,0,3
4,8671,34,1,1,1,1,2,1,0,1,...,-1,1,4,-7.179645,31.039095,1,1,0,1,3

In [4]:
cash_outlet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7094 entries, 0 to 7093
Data columns (total 37 columns):
ID                             7094 non-null int64
Q1                             7094 non-null int64
Q2                             7094 non-null int64
Q3                             7094 non-null int64
Q4                             7094 non-null int64
Q5                             7094 non-null int64
Q6                             7094 non-null int64
Q7                             7094 non-null int64
Q8_1                           7094 non-null int64
Q8_2                           7094 non-null int64
Q8_3                           7094 non-null int64
Q8_4                           7094 non-null int64
Q8_5                           7094 non-null int64
Q8_6                           7094 non-null int64
Q8_7                           7094 non-null int64
Q8_8                           7094 non-null int64
Q8_9                           7094 non-null int64
Q8_10                          7094 non-null int64
Q8_11                          7094 non-null int64
Q9                             7094 non-null int64
Q10                            7094 non-null int64
Q11                            7094 non-null int64
Q12                            7094 non-null int64
Q13                            7094 non-null int64
Q14                            7094 non-null int64
Q15                            7094 non-null int64
Q16                            7094 non-null int64
Q17                            7094 non-null int64
Q18                            7094 non-null int64
Q19                            7094 non-null int64
Latitude                       7094 non-null float64
Longitude                      7094 non-null float64
mobile_money                   7094 non-null int64
savings                        7094 non-null int64
borrowing                      7094 non-null int64
insurance                      7094 non-null int64
mobile_money_classification    7094 non-null int64
dtypes: float64(2), int64(35)
memory usage: 2.0 MB

In [5]:
cash_outlet.isnull().values.any()

False

## 2. Get basic descriptive statistics for the dataset.

In [6]:
cash_outlet.describe()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
count,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,...,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000
mean,4742.627291,38.239498,1.559910,1.787426,3.060051,2.548915,1.840569,1.397942,0.062165,0.630110,...,-0.431914,1.860164,3.163378,-6.034378,35.354029,0.553989,0.461517,0.432901,0.151255,1.799267
std,2731.120086,16.332148,0.496433,1.165160,1.557779,1.534257,0.366103,0.489508,0.241472,0.482809,...,1.489879,1.351372,1.317691,2.720888,2.899511,0.497112,0.498552,0.495512,0.358322,1.196955
min,1.000000,16.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,-1.000000,1.000000,1.000000,-11.467463,29.639578,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2397.250000,25.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,0.000000,0.000000,...,-1.000000,1.000000,2.000000,-8.275387,32.935429,0.000000,0.000000,0.000000,0.000000,1.000000
50%,4744.500000,35.000000,2.000000,1.000000,3.000000,3.000000,2.000000,1.000000,0.000000,1.000000,...,-1.000000,1.000000,4.000000,-6.087854,35.073326,1.000000,0.000000,0.000000,0.000000,2.000000
75%,7105.000000,48.000000,2.000000,3.000000,3.000000,4.000000,2.000000,2.000000,0.000000,1.000000,...,-1.000000,4.000000,4.000000,-3.517053,38.351815,1.000000,1.000000,1.000000,0.000000,3.000000
max,9459.000000,100.000000,2.000000,4.000000,8.000000,6.000000,2.000000,2.000000,1.000000,1.000000,...,5.000000,5.000000,5.000000,-1.084000,40.258744,1.000000,1.000000,1.000000,1.000000,3.000000

In [7]:
cash_outlet.rename(inplace=True, columns={
    'Q1':'age',
    'Q2':'gender',
    'Q3':'marital status',
    'Q4':'Highest level of education',
    'Q5':'property ownership',
    'Q6':'land ownership',
    'Q7':'personal mobile status',
    'Q8_1':'salaries or wages',
    'Q8_2':'money trading or selling',
    'Q8_3':'money providing a service',
    'Q8_4':'money casual work',
    'Q8_5':'money rental income',
    'Q8_6':'money interests',
    'Q8_7':'money pension',
    'Q8_8':'money social welfare',
    'Q8_9':'money financially dependant',
    'Q8_10':'money no income',
    'Q9':'salary and wages',
    'Q10':'selling things',
    'Q11':'providing a service',
    'Q12':'send money to another country',
    'Q13':'money last sent',
    'Q14':'received money from another country',
    'Q15':'last money received',
    'Q16':'mobile money purchases',
    'Q17':'mobile money bills',
    'Q18':'literacy in kwiswhahili',
    'Q19':'literacy in english'
    
})

In [8]:
cash_outlet.head()

,ID,age,gender,marital status,Highest level of education,property ownership,land ownership,personal mobile status,salaries or wages,money trading or selling,...,mobile money bills,literacy in kwiswhahili,literacy in english,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
0,5086,98,2,3,1,1,2,2,0,0,...,-1,4,4,-4.460442,29.811396,0,0,0,0,0
1,1258,40,1,1,3,5,1,1,1,0,...,4,1,4,-6.176438,39.244871,1,1,1,0,3
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,1,-6.825702,37.652798,1,0,0,0,2
3,6729,50,1,1,3,1,1,1,0,0,...,-1,1,4,-3.372049,35.808307,1,0,1,0,3
4,8671,34,1,1,1,1,2,1,0,1,...,-1,1,4,-7.179645,31.039095,1,1,0,1,3

## 3. Create appropriate graphs to visually represent the relationship between financial services accessed (non-mobile, mobile, both) and age, gender, marital status, land ownership and type of income.

In [0]:
a = cash_outlet.loc[cash_outlet.age <= 25,["mobile_money_classification"]]
b = cash_outlet.loc[cash_outlet.age <= 50,["mobile_money_classification"]]
c = cash_outlet.loc[cash_outlet.age <= 75,["mobile_money_classification"]]
d = cash_outlet.loc[cash_outlet.age <= 100,["mobile_money_classification"]]

e=pd.concat([a,b,c,d],keys=["0-25","26-50","51-75","76-100"])
f=e.loc[:,['mobile_money_classification']]          
print(e)

# cash_outlet['bins'] = pd.cut(cash_outlet['mobile_money_classification'],bins=[0,25,50,75,100], labels=["0-25","26-50","51-75","76-100"])
# df = df.groupby(['Age', 'bins']).size().unstack(fill_value=0)
# df.plot.pie(subplots=True,figsize=(8, 3))
# # cash_outlet['bins'] = pd.cut(cash_outlet['mobile_money_classification'],bins=[0,25,50,75,100], labels=["0-25","26-50","51-75","76-100"])
# df = cash_outlet.groupby(['mobile_money_classification', 'bins']).size().unstack(fill_value=0)

# df.plot.pie(subplots=True,figsize=(8, 3))
# plt.show()

In [0]:
cash_outlet.groupby(by='gender').size()

In [0]:
cash_outlet.gender= ['male' if each == 1 else 'female' for each in cash_outlet.gender]

In [0]:
cash_outlet.groupby(by='gender').size()

In [0]:
cash_outlet.groupby(by='mobile_money_classification').size()

In [0]:
cash_outlet['mobile_money_classification'].replace([0,1,2,3],['None','FS_only','MM_only','MM_FS'],inplace=True)

In [0]:
cash_outlet.groupby(by='mobile_money_classification').size()

In [ ]:
sns.countplot(x = 'mobile_money_classification', hue = 'gender',data = cash_outlet)
plt.legend(loc = 'best')
plt.title("Relationship between financial services accessed and gender", fontsize=15)
plt.xticks(np.arange(4), ['None', 'FS_only', 'MM_only', 'MM_FS'])
plt.show()

In [ ]:
cash_outlet['marital status'].replace([1,2,3,4],['Married','Divorced','Widowed','Never married'],inplace=True)

In [ ]:
cash_outlet.groupby(by='marital status').size()

In [ ]:
from matplotlib import rc

# Data
r = [0,1,2,3,4]

m = cash_outlet.loc[cash_outlet['marital status'] == "Married",["mobile_money_classification"]]
d = cash_outlet.loc[cash_outlet['marital status'] == "Divorced",["mobile_money_classification"]]
w = cash_outlet.loc[cash_outlet['marital status'] == "Widowed",["mobile_money_classification"]]
n = cash_outlet.loc[cash_outlet['marital status'] == "Never married",["mobile_money_classification"]]


status = {'greenBars': m, 'orangeBars': d,'blueBars': w, 'yellowBars': n}

df = pd.DataFrame(status)

# totals = [i+j+k for i,j,k in zip(df['greenBars'], df['orangeBars'], df['blueBars'], df['yellowBars'])
# [i / j * 100 for i,j in zip(df['greenBars'], totals)]
# orangeBars = [i / j * 100 for i,j in zip(df['orangeBars'], totals)]
# blueBars = [i / j * 100 for i,j in zip(df['blueBars'], totals)]
# yellowBars = [i / j * 100 for i,j in zip(df['yellowBars'], totals)]

barWidth = 0.85
names = ('None','FS_only','MM_only','MM_FS')
# Create green Bars
plt.bar(r, greenBars, color='#b5ffb9', edgecolor='white', width=barWidth)
# Create orange Bars
plt.bar(r, orangeBars, bottom=greenBars, color='#f9bc86', edgecolor='white', width=barWidth)
# Create blue Bars
plt.bar(r, blueBars, bottom=[i+j for i,j in zip(greenBars, orangeBars)], color='#a3acff', edgecolor='white', width=barWidth)
# Create yelow Bars
plt.bar(r, blueBars, bottom=[i+j for i,j in zip(greenBars, yellowBars)], color='#fefb01', edgecolor='white', width=barWidth)

# Custom x axis
plt.xticks(r, names)
plt.xlabel("group")
 
# Show graphic
plt.show()

In [ ]:
cash_outlet['land ownership'].replace([1,2],['Yes', 'No'],inplace=True)

In [ ]:
cash_outlet.groupby(by='land ownership').size()

In [ ]:
sns.countplot(x = 'mobile_money_classification', hue = 'land ownership',data = cash_outlet)
plt.legend(loc = 'best')
plt.title("Relationship between financial services accessed and land ownership", fontsize=15)
plt.xticks(np.arange(4), ['None', 'FS_only', 'MM_only', 'MM_FS'])
plt.show()